<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre proceso:</strong>
  <%= @proceso.nombre_proceso %>
</p>

<%= link_to 'Edit', edit_proceso_path(@proceso) %> |
<%= link_to 'Back', procesos_path %>
