*{
	border:0;
	margin:0;
	padding:0;
}
html{
	  background: url(fondo.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
}


body{
	background: blue;
	border-radius: 1em;
	color: white;
	margin: 1em auto;
	width: 95%;   
}
header{
	background:#071019;
	margin: 2 auto;
	max-width: 90%;
	gn: center;
}

